<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Add-Jacket</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DJ Helmets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Orders</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Product <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/add_helmet/">Helmet</a></li>
                        <li class="divider"></li>
                        <li><a href="/add_jacket/">Jacket</a></li>
                        <li class="divider"></li>
                        <li><a href="/add_riding_pant/">Riding Pant</a></li>
                        <li class="divider"></li>
                        <li><a href="/add_riding_boot/">Riding Boots</a></li>
                        <li class="divider"></li>
                        <li><a href="/add_other/">Others</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Messages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Drafts</a></li>
                        <li><a href="#">Sent Items</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br><br><br>
<h1 style="text-align:center">ADD JACKET</h1>
<div class="col-sm-2">

</div>
<div class="col-sm-10">
    <form class="form-horizontal" method="post"  enctype="multipart/form-data" action="" role="form">{% csrf_token %}
        <div class="form-group col-sm-8">
            <br><br>
            <label class="col-sm-2 control-label">Brand Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="id_product_brand_name" name="product_brand_name" >
            </div>
        </div>
        <div class="form-group col-sm-8">
            <br><br>
            <label class="col-sm-2 control-label">Model Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="id_product_model_name" name="product_model_name" >
            </div>
        </div>
        <div class="form-group col-sm-8">
            <br><br>
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="id_price" name="price" >
            </div>
        </div>
        {% if colors %}
            <div class="form-group col-sm-5">
                <br><br>
                <label class="col-sm-3 control-label">Colors</label>
                <div style="float:left"> {{ form.product_color }}</div>
            </div>
        {% endif %}
        <div class="form-group col-sm-5">
            <br><br>
            <label class="col-sm-3 control-label">Size</label>
            <div style="float:left">{{ form.product_size }}</div>
        </div>
        <div class="form-group col-sm-5">
            <br><br>
            <label class="col-sm-3 control-label">Images</label>
            <div class="form-group col-sm-5">
                <table><tr><td>{{ form.picture1 }}<br></td><td>{{ form.picture2 }}<br></td></tr>
                    <tr><td>{{ form.picture3 }}<br></td><td>{{ form.picture4 }}<br></td></tr>
                    <tr><td>{{ form.picture5 }}<br></td></tr>
                </table>
            </div>
            <div class="form-group col-sm-8">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add Product</button>
                </div>
            </div>
    </form>
</div>


</body>
</html>
